<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>'Nim's Dai</title>
<body>

    <h1>About Nim's</h1>
       <h2>Born in Nepal, Nims had a distinguished 16-year military       career, of which he spent 6 years as a Gurkha and 10 years with the UK Special Forces (SBS). He has since become a truly historic mountaineer, accumulating an ever-growing list of record-breaking  summits alongside many high-altitude rescue missions.</h2>
    <h2>Humble beginnings</h2>
         <h2>Astonishingly, Nims didn’t grow up in the shadow of the Himalayas, in fact he was born in the Dhaulagiri region of Nepal and raised in Chitwan, in the country’s flatlands. He performed well at school, but at that time there was no yearning to climb mountains instead he had another focus, to become a Gurkha in the British military like his father and brothers before him. In 2003 that dream became a reality when he joined the Gurkhas in 2003, at the age of eighteen.</h2>
     <a href="/home">Go back to Home</a>

</html>