<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>'Nim's Dai</title>
<body>
    <h1>Achieving a new possible</h1>
    <center><img src="/images/work.jpg" /></center>
    <h2>At the time the record for climbing the world’s fourteen highest peaks (the 8000ers) was just under eight years. Nim’s dream was to do it in seven months, he aptly named it Project Possible. He would embark on it, as he had done for the rest of his life, through all the planning, every storm, every step on every mountain, each selfless rescue mission he answered with just one approach ‘Everything in life is possible armed only with a determined approach and positive mindset’. A little over six months later on the summit of Shishapangma and with weeks to spare, Nims proudly announced to the world ‘Mission Achieved’ delivering on his promise and what many claimed to be ‘impossible’.
    His natural aptitude for expedition leadership and high-altitude mountaineering had come to full maturity, truly proving his abilities on the world stage. Above all, he clearly demonstrated that with the right mindset, planning and team all things are possible. He has been inspiring people of all ages, showing how a positive approach can lead to the most incredible achievements in life</h2>

     <a href="/home">Go back to Home</a> 
      
  
   
</html>